.form_Login {
    width: 380px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px lightgray;
}
